<div class="login">
	<%= render "home/logo" %>
	<div class="login-c">
		<%= form_with(url: login_path, remore: true) do |f| %>
			<h1>LOGIN</h1>
			<label class="icon-user">
				<%= f.text_field :username, placeholder: "Username", autocomplete: 'off', required: true %>
			</label>
			<label class="icon-lock">
				<%= f.password_field :password, placeholder: "Password", autocomplete: 'off', required: true %>
			</label>
			<%= f.submit "Log In" %>
			<% if flash.present? && flash[flash.keys[0]] == "Invalid Username/Password" %>
				<div class="flash <%= flash.keys[0] %> login-form">
					<%= flash[flash.keys[0]] %>
				</div>
			<% end %>
		<% end %>
	</div>	
</div>
