<div id="<%= dom_id inventory %>">
  <p>
    <strong>Name:</strong>
    <%= inventory.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= inventory.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= inventory.description %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= inventory.sku %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= inventory.category %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= inventory.manufacturer %>
  </p>

</div>
