<div class="inventory_page">
	<div class="col-12 d-flex flex-wrap h-25">
		<div class="col-12 d-flex pe-5" >
			<div class="col-3 h-100 d-flex justify-content-center align-items-center fs-3 border border-primary ms-2 rounded" ></div>
			<div class="col-3 h-100 d-flex justify-content-center align-items-center fs-3 border border-primary ms-2 rounded" ></div>
			<div class="col-3 h-100 d-flex justify-content-center align-items-center fs-3 border border-primary ms-2 rounded" ></div>
			<div class="col-3 h-100 d-flex justify-content-center align-items-center fs-3 border border-primary ms-2 rounded" ></div>
		</div>
	</div>
	<div class="col-12 row g-0 h-75">
		<div class="inventory-container col-12 h-100 px-2" >
			<div class="col-12 p-2 d-flex justify-content-between">
				<div class="my-auto">Inventory Items</div>
				<div>
					<%= form_with url: inventory_index_path, method: :get,omit_nil: true do |f|%>
						<div class="d-flex gap-2 align-items-center">
							<div class="d-flex flex-column">
								<%= f.label "Date range:" %> 
								<%= f.text_field :range, value: params[:range], readonly: true, autocomplete: 'off' %>
							</div>
							<div class="d-flex flex-column">
								<%= f.label "Search:" %> 
								<%= f.text_field :name, value: params[:name], onkeydown: "if (event.keyCode == 13) { this.form.submit(); return false; }" %>
							</div>
							<%= link_to "Reset", inventory_index_path, class: "btn btn-secondary" unless params[:range].blank? || params[:name].blank? %>
							<%= f.submit "Filter", class: "btn btn-primary"%>
						</div>
					<% end %>
					<script type="text/javascript">
						$(function() {

						$('#range').daterangepicker({

    						showDropdowns: true,
							minDate: moment('2022-01-01'),
							maxDate: moment().endOf('day'),
							autoUpdateInput: false,
							locale: {
								cancelLabel: 'Clear',
      							format: 'MMM DD, YYYY'
							},
							ranges: {
							'Today': [moment(), moment()],
							'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
							'Last 7 Days': [moment().subtract(6, 'days'), moment()],
							'Last 30 Days': [moment().subtract(29, 'days'), moment()],
							'This Month': [moment().startOf('month'), moment().endOf('month')],
							'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
							},
							singleDatePicker: true
						});

						$('#range').on('apply.daterangepicker', function(ev, picker) {
							$(this).val(picker.startDate.format('MMM DD, YYYY') + ' - ' + picker.endDate.format('MMM DD, YYYY'));
						});

						$('#range').on('cancel.daterangepicker', function(ev, picker) {
							$(this).val('');
						});

						});
					</script>
				</div>
			</div>
			<div class="table-container col-12 h-100 pb-5 overflow-scroll" >
				<div class="flex-table">
					<div class="row header-row m-1">
						<div class="row">
							<div class="col d-flex">
								<div class="col-2 text-center my-auto">NAME</div>
								<div class="col-2 text-center my-auto">TYPE</div>
								<div class="col-2 text-center my-auto">PRESCRIPTION</div>
								<div class="col-2 text-center my-auto">CATEGORY</div>
								<div class="col-2 text-center my-auto">QUANTITY</div>
								<div class="col-2 text-center my-auto">PRICE</div>
							</div>
							<div class="col-auto header-gap"></div>
						</div>
					</div>
					<% @inventories.each do |inventory| %>
						<div class="row inventory-row m-1" id="inventory-<%= inventory.id %>">
							<div class="row">
								<div class="col d-flex">
									<div class="col-2 text-center my-auto"><%= inventory.name.capitalize %></div>
									<div class="col-2 text-center my-auto"><%= inventory.inventory_type.capitalize %></div>
									<div class="col-2 text-center my-auto"><%= inventory.prescription.capitalize %></div>
									<div class="col-2 text-center my-auto"><%= inventory.category.capitalize %></div>
									<div class="col-2 text-center my-auto"><%= inventory.total_quantity %></div>
									<div class="col-2 text-center my-auto"><%= inventory.price_range %></div>
								</div>
								<div class="col-auto text-center inventory-actions d-flex my-auto">
									<div class="d-flex">
										<button class="btn btn-primary me-2 my-auto p-1 float-top" id="inventory-<%= inventory.id %>-edit">
											Edit
										</button>
										<%= button_to "Delete", inventory_path(inventory), method: :delete, data: { turbo_confirm: "Are you sure to archive this inventory?" }, class: "btn btn-danger my-auto inventory-delete p-1"%>
									</div>
									<div class="my-auto">
										<div class="material-icons" style="font-size: 2em" id="inventory-<%= inventory.id %>-icon">
											chevron_right
										</div>
									</div>
								</div>
							</div>	
							<div class="col row items-container d-flex mx-4 px-3" id="items-container-<%= inventory.id %>" style="transform: scale(0); max-height: 0;">
								<div class="col-12 d-flex justify-content-center">
								<% inventory.items.each do |item| %>
									<div class="col-auto my-3 item position-relative">
										<div class="col text-center "> 
											(<%= item.age_list.group %>) <%= item.age_list.name %>
										</div>
										Quantity: <%= item.quantity %>
										<br>
										Price: ₱<%= item.price %>
										<br>
										Expiry: <%= item.expiration_date %>	| <%= item.days_left %> days left
										<div class="position-absolute top-0 start-100 translate-middle">
											<%= link_to "X", "#", class: "btn btn-danger" %>
										</div>
									</div>
								<% end %>
								<div class="col-auto my-auto p-3 new-item">
									<div class="material-icons">add</div>
									ADD NEW ITEM
								</div>
							</div>
						</div>
					<% end %>
					<script>
						$(document).ready(function(){
							$('.inventory-row').click(function(){
								var id = $(this).attr('id');
								var items_container = $('#items-container-' + id.split('-')[1]);
								var icon_element = $('#inventory-' + id.split('-')[1] + '-icon');
								var edit_button = $('#inventory-' + id.split('-')[1] + '-edit');

								// Check if any other inventory-row is currently expanded
								var is_any_expanded = $('.inventory-row').filter(function() {
									return $(this).find('.items-container').css('transform') == 'matrix(1, 0, 0, 1, 0, 0)';
								}).length > 0;

								// Collapse other inventory-rows before expanding the current one
								if (is_any_expanded) {
									$('.inventory-row').each(function() {
										if ($(this).attr('id') != id && $(this).find('.items-container').css('transform') == 'matrix(1, 0, 0, 1, 0, 0)') {
											$(this).click();
										}
									});
								}

								if (items_container.css('transform') == 'matrix(1, 0, 0, 1, 0, 0)') {
									items_container.css('transform', 'scale(0)');
									items_container.css('max-height', '0');

									$(this).css('background-color', '');
									icon_element.css('transform', 'rotate(0deg)');
									edit_button.text('Edit');
									
								} else {
									items_container.css('transform', 'scale(1)');
									items_container.css('max-height', 'fit-content');

									$(this).css('background-color', '#e1e1e1');
									icon_element.css('transform', 'rotate(90deg)');
									edit_button.text('Close');
								}
							});
							$('.inventory-row .items-container').click(function(e){
								e.stopPropagation();
							});
							$('.inventory-row .inventory-delete').click(function(e){
								e.stopPropagation();
							});
						});
					</script>
				</div>
			</div>
		</div>
	</div>
	<div class="blank-space">
	</div>
	<div class="new-inventory p-3 me-4" onclick="location.href='<%= new_inventory_path %>'">
		<div class="d-flex justify-content-center">
			<div class="material-icons">add</div>
			ADD NEW INVENTORY
		</div>
	</div>
</div>
