<div class="inventory_page">
	<div class="col-12 d-flex flex-wrap h-25">
		<div class="col-12 d-flex pe-5" >
			<div class="col-3 h-100 d-flex justify-content-center align-items-center fs-3 border border-primary ms-2 rounded" ></div>
			<div class="col-3 h-100 d-flex justify-content-center align-items-center fs-3 border border-primary ms-2 rounded" ></div>
			<div class="col-3 h-100 d-flex justify-content-center align-items-center fs-3 border border-primary ms-2 rounded" ></div>
			<div class="col-3 h-100 d-flex justify-content-center align-items-center fs-3 border border-primary ms-2 rounded" ></div>
		</div>
	</div>
	<div class="col-12 row g-0 h-75">
		<div class="inventory-container col-12 h-100 px-2" >
			<div class="col-12 p-2 d-flex justify-content-between">
				<div class="my-auto">Inventory Items</div>
				<div>
					<%= form_with url: inventory_index_path, method: :get,omit_nil: true do |f|%>
						<div class="d-flex gap-2 align-items-center">
							<div class="d-flex flex-column">
								<%= f.label "Date range:" %> 
								<%= f.text_field :range, value: params[:range], readonly: true, autocomplete: 'off' %>
							</div>
							<div class="d-flex flex-column">
								<%= f.label "Search:" %> 
								<%= f.text_field :name, value: params[:name], onkeydown: "if (event.keyCode == 13) { this.form.submit(); return false; }" %>
							</div>
							<%= link_to "Reset", inventory_index_path, class: "btn btn-secondary" unless params[:range].blank? || params[:name].blank? %>
							<%= f.submit "Filter", class: "btn btn-primary"%>
						</div>
					<% end %>
					<script type="text/javascript">
						$(function() {

						$('#range').daterangepicker({

    						showDropdowns: true,
							minDate: moment('2022-01-01'),
							maxDate: moment().endOf('day'),
							autoUpdateInput: false,
							locale: {
								cancelLabel: 'Clear',
      							format: 'MMM DD, YYYY'
							},
							ranges: {
							'Today': [moment(), moment()],
							'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
							'Last 7 Days': [moment().subtract(6, 'days'), moment()],
							'Last 30 Days': [moment().subtract(29, 'days'), moment()],
							'This Month': [moment().startOf('month'), moment().endOf('month')],
							'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
							},
							singleDatePicker: true
						});

						$('#range').on('apply.daterangepicker', function(ev, picker) {
							$(this).val(picker.startDate.format('MMM DD, YYYY') + ' - ' + picker.endDate.format('MMM DD, YYYY'));
						});

						$('#range').on('cancel.daterangepicker', function(ev, picker) {
							$(this).val('');
						});

						});
					</script>
				</div>
			</div>
			<div class="table-container col-12 h-100 pb-5 overflow-scroll" >
				<div class="flex-table">
					<div class="row header-row p-2 my-1 mx-1">
						<div class="col d-flex">
							<div class="col-2 text-center my-auto">NAME</div>
							<div class="col-2 text-center my-auto">CATEGORY</div>
							<div class="col-2 text-center my-auto">QUANTITY</div>
							<div class="col-2 text-center my-auto">MANUFACTURER</div><i class="fa fa-xing" aria-hidden="true"></i>
							<div class="col-2 text-center my-auto">PRICE</div>
							<div class="col-2 text-center my-auto">PRESCRIPTION</div>
						</div>
						<div class="col-auto header-gap"></div>
					</div>
					<% @inventories.each do |inventory| %>
						<div class="row inventory-row p-2 my-1 mx-1">
							<div class="col d-flex">
								<div class="col-2 text-center my-auto"><%= inventory.name %></div>
								<div class="col-2 text-center my-auto"><%= inventory.category %></div>
								<div class="col-2 text-center my-auto"><%= inventory.total_quantity %></div>
								<div class="col-2 text-center my-auto"><%= inventory.manufacturer %></div><i class="fa fa-xing" aria-hidden="true"></i>
								<div class="col-2 text-center my-auto">₱<%= inventory.last_price %></div>
								<div class="col-2 text-center my-auto"><%= inventory.prescription %></div>
							</div>
							<div class="col-auto text-center inventory-actions d-flex my-auto">
								<div>
									<%= link_to "Edit", edit_inventory_path(inventory), class: "btn btn-primary me-2" %>
									<%= link_to "Delete", inventory_path(inventory), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
								</div>
								<div>
									<div class="material-icons" style="font-size: 2.5em">chevron_right</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="blank-space">
	</div>
	<div class="new-item p-3 me-4" onclick="location.href='<%= new_inventory_path %>'">
		<div class="d-flex justify-content-center">
			<div class="material-icons">add</div>
			ADD NEW ITEM
		</div>
	</div>
</div>
