<div id="<%= dom_id dog %>">
  <p>
    <strong>Breed:</strong>
    <%= dog.breed_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= dog.location %>
  </p>

  <p>
    <strong>Has color:</strong>
    <%= dog.has_color %>
  </p>

  <p>
    <strong>Dog state:</strong>
    <%= dog.dog_state_id %>
  </p>

  <p>
    <strong>Image file name:</strong>
    <%= dog.image_file_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= dog.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= dog.gender %>
  </p>

  <p>
    <strong>In pound:</strong>
    <%= dog.in_pound %>
  </p>

</div>
