
<script>
  function getImageType(base64String) {
      var type = base64String.split(";")[0].split(":")[1];
      return type;
  }
  function fixBinary(bin) {
    var length = bin.length;
    var buf = new ArrayBuffer(length);
    var arr = new Uint8Array(buf);
    for (var i = 0; i < length; i++) {
      arr[i] = bin.charCodeAt(i);
    }
    return buf;
  }
  function getBase64Images() {
    var input = document.getElementById("images");
    var parent = document.getElementById("image-list");
    var imgElements = parent.querySelectorAll("img");
    var files = [];
    if (imgElements.length) {
      for (var i = 0; i < imgElements.length; i++) {
        var base64String = imgElements[i].src;
        var imageType = getImageType(base64String);
        base64String = base64String.split(",")[1];
        var binaryString = fixBinary(atob(base64String));
        var extension = "";
        if(imageType == "image/png"){
            extension = "png";
        }else if(imageType == "image/jpeg"){
            extension = "jpeg";
        }
        var file = new Blob([binaryString], { type: imageType });
        var fileWithName = new File([file], "file"+i+"."+extension, {type: imageType});
        files.push(fileWithName);
      }
      const dT = new DataTransfer();
      files.forEach(file => {
        dT.items.add(file)
      });
      input.files = dT.files;
    }
  }
</script>
<div id="drop-area" class="col-11 image-uploader position-relative mx-auto my-3">
  <div id="image-list" class="row m-3 pb-4 flex-wrap">
    
    <div class="d-none col-3 d-flex align-items-center justify-content-center py-3" style="height:25vh;">
      <div class="add-new-photo col-10 h-75 d-flex justify-content-center align-items-center">
          <div class="material-icons fs-1">add_a_photo</div>
      </div>
    </div>
  </div>
  <div class=" material-icons upload-icon position-absolute top-50 start-50 translate-middle ">add_a_photo</div>
  <h3 class=" w-100 text-center position-absolute bottom-0 start-50 translate-middle-x">
    Drag and drop images here
  </h3>
</div>
<div class="col-12 m-3 " data-controller="dog-form">
  <%= form_with(model: @dog,:html => { :multipart => true }) do |form| %>
    <div class="row w-100">
      <div class="form-floating col-6 py-4">
        <%= form.select :breed_id, @breeds,{prompt: "Select Breed"},{required: 'true', autocomplete: 'off', class: 'form-select py-0'} %>
        <%= form.label "Breed"%> 
      </div>
      <div class="form-floating col-6 py-4">
        <%= form.select :place_id, @places,{prompt: "Select Location"},{required: 'true', autocomplete: 'off', class: 'form-select py-0'} %>
        <%= form.label "Location"%> 
      </div>
      <div class="form-floating col-6 py-4">
        <%= form.select :dog_state_id,  @dog_states,{prompt: "Select Status"},{required: 'true', autocomplete: 'off', class: 'form-select py-0'} %>
        <%= form.label "Status"%> 
      </div>
      <div class="form-floating col-6 py-4">
        <%= form.select :condition_id,  @conditions,{prompt: "Select Condition"},{required: 'true', autocomplete: 'off', class: 'form-select py-0'} %>
        <%= form.label "Condition"%> 
      </div>
      <div class="col-4 myauto">
        <%= form.label "Gender :", style: "display: inline" %>
        <%= form.check_box :gender, class: "switch pt-3",checked: true, data: { toggle: "switch", on_color: "male", on_text: "Male", off_color: "female", off_text: "Female" }%>
      </div>
      <div class="col-4 myauto">
        <%= form.label "Neutered :", style: "display: inline" %>
        <%= form.check_box :neutered, class: "switch pt-3",checked: false, data: { toggle: "switch", on_color: "success", on_text: "Yes", off_color: "danger", off_text: "No" }%>
      </div>
      <div class="col-4 myauto">
        <%= form.label "Age :", style: "display: inline" %>
        <%= form.number_field :age, min: 0, max: 156, step: 1, value: 1, style: "width: 50px" %> (in months)
      </div>
    </div>

    <div>
      <%= form.fields_for :dog_images do |p| %>
        <%= p.label :image %><br>
        <%= p.file_field :image, multiple: true, required: true, accept: "image/jpeg, image/png", id: "images", name:"dog_images[image][]", autocomplete: 'off' %>
    </div>
    <div class='d-none'>
      <button id="dog-form-presubmit" type="button" class="btn btn-primary mt-2">Submit</button>
      <%= form.submit "Submit" , id: "dog-form-submit",class: "d-none"%>
    </div>
    <% if @dog.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

        <ul>
          <% @dog.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

</div>
      <% end %>