<div class="record_categories">
	<%= link_to "<button class=\"category\">Dogs</button>".html_safe, root_path %>
	<%= link_to "<button class=\"category\">Transactions</button>".html_safe, root_path %>
	<%= link_to "<button class=\"category\">Events</button>".html_safe, root_path %>
	<%= link_to "<button class=\"category\">Medicine</button>".html_safe, root_path %>
	<%= link_to "<button class=\"category\">Barangay Status</button>".html_safe, root_path %>
</div>