<div class="records-page">
	<div class="records-container">
		<div class="records-list">
			<div class="record-title">
				<p>Latest Clients</p>
				<p>[Search button]</p>
			</div>
			<div class="record-table">
				<table>
					<thead>
						<tr>
							<th class="record-header"><div class="h-checkbox material-icons">check_box_outline_blank</div></th>
							<th class="record-header">ID</th>
							<th class="record-header">KIND/BREED</th>
							<th class="record-header">NAME</th>
							<th class="record-header">OWNER</th>
							<th class="record-header">ADDRESS</th>
							<th class="record-header">DATE</th>
							<th class="record-header">STATUS</th>
							<th class="record-header"></th>
						</tr>
					</thead>
					<tbody>
						<% 25.times do |i| %>
							<tr>
								<td><div class="h-checkbox material-icons">check_box_outline_blank</div></td>
								<td><%= i+1 %></td>
								<td><%= Breed.pluck(:name).sample %></td>
								<td><%= fakedogname %></td>
								<td><%= fakename %></td>
								<td><%= Place.pluck(:name).sample %></td>
								<td><%= Date.today %></td>
								<td><%= DogState.pluck(:name).sample %></td>
								<td>DEMO</td>
							</tr>
						<% end %>

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="graph-container"></div>
</div>