<div class="records-page">
	<div class="records-container">
		<div class="records-list">
			<div class="record-title">
				<p>Latest Client</p>
			</div>
			<div class="record-table">
				<div class="record-header">
					<div class="h-checkbox material-icons">check_box_outline_blank</div>
					<div class="h-id">ID</div>
					<div class="h-breed">KIND/BREED</div>
					<div class="h-name">NAME</div>
					<div class="h-owner">OWNER</div>
					<div class="h-address">ADDRESS</div>
					<div class="h-date">DATE</div>
					<div class="h-status">STATUS</div>
					<div class="h-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
				<div class="record">
					<div class="r-checkbox material-icons">check_box_outline_blank</div>
					<div class="r-id">001</div>
					<div class="r-breed">ASPIN</div>
					<div class="r-name">CHUCHU</div>
					<div class="r-owner">DAFFY</div>
					<div class="r-address">Linao</div>
					<div class="r-date"><%= Date.today %></div>
					<div class="r-status">Adopted</div>
					<div class="r-actions"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="graph-container"></div>
</div>