<div id="<%= dom_id vet_record %>">
  <p>
    <strong>Id:</strong>
    <%= vet_record.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vet_record.name %>
  </p>

  <p>
    <strong>Archived at:</strong>
    <%= vet_record.archived_at %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= vet_record.species %>
  </p>

</div>
