<p style="color: green"><%= notice %></p>

<%= render @vet_record %>

<div>
  <%= link_to "Edit this vet record", edit_vet_record_path(@vet_record) %> |
  <%= link_to "Back to vet records", vet_records_path %>

  <%= button_to "Destroy this vet record", @vet_record, method: :delete %>
</div>
