<!DOCTYPE html>
<html>
  <head>
    <title>OCVOM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= controller_stylesheet_link_tag %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <div class="dashboard">
        <%= render "home/logo" %>
          <div class="navigation">
            <div class="profilepic">
            </div>
            <div class="nav-item">
              <%= link_to root_path, class: "item-button" do %>
                <div class="material-icons item-logo">dashboard</div> DASHBOARD
              <% end %>
            </div>
            <div class="nav-item">
              <%= link_to records_path, class: "item-button" do %>
                <div class="material-icons item-logo">view_list</div> RECORDS
              <% end %>
              <div class="nav-subitem-container">
                <div class="nav-subitem">
                  <%= link_to root_path, class: "subitem-button" do %>
                    Dog Profile
                    <div class="material-icons">chevron_right</div>
                  <% end %>
                </div>
                <div class="nav-subitem">
                  <%= link_to root_path, class: "subitem-button" do %>
                    Adoption
                    <div class="material-icons">chevron_right</div>
                  <% end %>
                </div>
                <div class="nav-subitem">
                  <%= link_to root_path, class: "subitem-button" do %>
                    Vaccinated
                    <div class="material-icons">chevron_right</div>
                  <% end %>
                </div>
                <div class="nav-subitem">
                  <%= link_to root_path, class: "subitem-button" do %>
                    Sick Dogs
                    <div class="material-icons">chevron_right</div>
                  <% end %>
                </div>
                <div class="nav-subitem">
                  <%= link_to root_path, class: "subitem-button" do %>
                    Disposed
                    <div class="material-icons">chevron_right</div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="nav-item">
              <%= link_to scan_path, class: "item-button" do %> 
                <div class="material-icons item-logo">touch_app</div> ACTIONS
              <% end %>
              <div class="nav-subitem-container">
                <div class="nav-subitem">
                  <%= link_to root_path, class: "subitem-button" do %>
                    Add New Dog
                    <div class="material-icons">chevron_right</div>
                  <% end %>
                </div>
                <div class="nav-subitem">
                  <%= link_to root_path, class: "subitem-button" do %>
                    Adopt a Dog
                    <div class="material-icons">chevron_right</div>
                  <% end %>
                </div>
                <div class="nav-subitem">
                  <%= link_to root_path, class: "subitem-button" do %>
                    Find a Dog
                    <div class="material-icons">chevron_right</div>
                  <% end %>
                </div>
                </div>
              </div>
              <div class="nav-item">
                <%= link_to session_path, class: "item-button", data: { "turbo-method": :delete } do %> 
                  <div class="material-icons item-logo">logout</div> LOGOUT
                <% end %>
              </div>
            </div>
      <% end %>
      <%= yield %>
          </div>
      <% if flash.present? && !flash[flash.keys[0]] == "Invalid Username/Password" %>
        <div class="flash <%= flash.keys[0] %>">
          <%= flash[flash.keys[0]] %>
        </div>
      <% end %>
    </div>
  </body>
</html>
